n8n/workflow-followup-cron.json
{
  "name": "Follow-Up Cron — Pending Follow-Ups",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 13,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron — 9AM, 1PM, 5PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_PUBLIC_URL }}/api/pending-followups",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-get-followups",
      "name": "GET Pending Follow-Ups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Process Each Follow-Up",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-data",
      "name": "Has Follow-Up Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "postMessage",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "#inbox-manager"
        },
        "text": "Pending Follow-Up",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "textValue": "Pending Follow-Up — Day {{ $json.followup_day }}"
            },
            {
              "type": "section",
              "textValue": ":email: *Lead:* {{ $json.lead_name }} ({{ $json.lead_email }})\n:dart: *Campaign:* {{ $json.campaign_name }}\n:calendar: *Original Reply:* {{ $json.original_reply_date }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "textValue": "*Follow-Up Draft:*\n>>> {{ $json.draft_body }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "textValue": "*Original Conversation Summary:*\n>>> {{ $json.conversation_summary }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "actions",
              "elementsValues": [
                {
                  "type": "button",
                  "text": "Approve Follow-Up",
                  "style": "primary",
                  "actionId": "followup_approve_{{ $json.id }}"
                },
                {
                  "type": "button",
                  "text": "Skip",
                  "style": "danger",
                  "actionId": "followup_skip_{{ $json.id }}"
                }
              ]
            }
          ]
        },
        "otherOptions": {}
      },
      "id": "slack-followup",
      "name": "Slack — Follow-Up Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1160, 200],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Follow-Ups",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1160, 420]
    }
  ],
  "connections": {
    "Cron — 9AM, 1PM, 5PM": {
      "main": [
        [
          {
            "node": "GET Pending Follow-Ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Pending Follow-Ups": {
      "main": [
        [
          {
            "node": "Process Each Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Follow-Up": {
      "main": [
        [
          {
            "node": "Has Follow-Up Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Follow-Up Data?": {
      "main": [
        [
          {
            "node": "Slack — Follow-Up Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Follow-Ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — Follow-Up Message": {
      "main": [
        [
          {
            "node": "Process Each Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-inbox-manager"
  },
  "tags": [
    {
      "name": "inbox-manager",
      "createdAt": "2026-03-26T00:00:00.000Z",
      "updatedAt": "2026-03-26T00:00:00.000Z"
    }
  ]
}
