n8n/workflow-slack-notify.json
{
  "name": "Slack Notify — New Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-notify",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "slack-notify-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-pending",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "pending_approval",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pending",
      "name": "Is Pending Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "postMessage",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "#inbox-manager"
        },
        "text": "New Reply Requiring Approval",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "textValue": "New Reply — {{ $json.body.category }}"
            },
            {
              "type": "section",
              "textValue": ":email: *Lead:* {{ $json.body.lead_name }} ({{ $json.body.lead_email }})\n:dart: *Campaign:* {{ $json.body.campaign_name }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "textValue": "*Reply:*\n>>> {{ $json.body.body.substring(0, 500) }}{{ $json.body.body.length > 500 ? '...' : '' }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "textValue": "*AI Draft Response:*\n>>> {{ $json.body.ai_draft }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "actions",
              "elementsValues": [
                {
                  "type": "button",
                  "text": "Approve",
                  "style": "primary",
                  "actionId": "approve_{{ $json.body.reply_id }}"
                },
                {
                  "type": "button",
                  "text": "Reject",
                  "style": "danger",
                  "actionId": "reject_{{ $json.body.reply_id }}"
                }
              ]
            }
          ]
        },
        "otherOptions": {}
      },
      "id": "slack-pending",
      "name": "Slack — Approval Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [740, 200],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "postMessage",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "#inbox-manager"
        },
        "text": "Auto-handled {{ $json.body.category }} reply from {{ $json.body.lead_email }} ({{ $json.body.campaign_name }})",
        "otherOptions": {}
      },
      "id": "slack-auto",
      "name": "Slack — Auto-Handled Notice",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [740, 420],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Pending Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pending Approval?": {
      "main": [
        [
          {
            "node": "Slack — Approval Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Auto-Handled Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ai-inbox-manager"
  },
  "tags": [
    {
      "name": "inbox-manager",
      "createdAt": "2026-03-26T00:00:00.000Z",
      "updatedAt": "2026-03-26T00:00:00.000Z"
    }
  ]
}
